<!DOCTYPE html>
<html>
<head>
	<title><%=event.name%> | TecSo Global Foundation</title>
	<%- include("../dynamicCommons.ejs") %>
	<style type="text/css">
		img{height: 70px; height:70px;}
	</style>
</head>
<body>

	<div class="page-content">
		<center> 
        <% if(message){ %>
  		<div id="message"><%= message %></div>
  		<% } %></center>
		<h1 class="display-1 ack"><%=event.name%></h1>
		<div class="contact-form" >
			<div class="volunteers">
				<h3>Volunteers invloved</h3>
				<%volunteers.forEach(function(volunteer, index){%>
					<img src="data:<%=volunteer.profilePic.contentType%>;base64,<%=volunteer.profilePic.data.toString('base64')%>">
					<%=volunteer.name%>
					<input type="checkbox" id="<%=volunteer._id%>" value="<%=volunteer._id%>"><br><br>
				<%})%>
			</div>
			<h3>Donations</h3>
			<ul>
				<%event.donations.forEach(function(donation){%>
				<li><h3><%=donation.name%></h3>
				<p><b>Amount: </b><%=donation.amount%></p></li><hr><br>
			<%})%>
			</ul>
			<button type="submit" class="submit">Publish Event</button>
			
			
		</div>


		<form class="contact-form" action="/admin/dashboard/events/<%=event._id%>/delete" method="POST">
			<button type="submit">Delete Event</button>
			
		</form>
	</div>
	<script type="text/javascript">
		$(".submit").click(function(event){
			var volunteersData = [];

			<% volunteers.forEach(function(volunteer, index){ %>

				if($("#<%=volunteer._id%>").is(':checked')){
					volunteersData.push({
						id: "<%=volunteer._id%>",


					})
				}

			<%})%>
			console.log(volunteersData)
			var volunteers=volunteersData

			$.ajax({
	            url: '/admin/dashboard/events/<%=event._id%>/publish',
	            type: 'post',
	            dataType: 'json',
	            contentType: 'application/json',
	           	xhrFields:{
	           		withCredentials: true
	           	},
	            data: JSON.stringify(volunteers)
       	 	})
       	 	$( document ).ajaxStop(function() {
  				window.location.href="/events/<%=event._id%>"
			});

		})

			
		// var i = 0;
		// 		function addPara(){
		// 			$(".text").append("<label for='"+String(i)+"'>Paragraph"+String(i+1)+"</label><textarea class='form-input' id="+String(i)+" name=event[content][paragraphs][" + String(i) + "]></textarea><br>")
		// 			i = i+1;
		// 			console.log($(".date").val())
		// 		}
		// 		})
	</script>
<%- include("../footer.ejs")%>
<%- include("adminControls.ejs")%>
</body>
</html>