<!DOCTYPE html>
<html>
<head>
	<title>Website Images | TecSo Foundation</title>
	<%- include("../dynamicCommons.ejs") %>
	<style type="text/css">
		img{
			width: 40%;
			object-fit: cover;
			object-position: center;
		}
		
	</style>
</head>
<body>
	<%- include("../header.ejs") %>
	<div class="page-content">
		<h1 class="ack display-1">Home Slider Images</h1>
			<div class="container">
				<form action="/images" style="" method="POST" enctype="multipart/form-data">
					<div class="form-group" style="display: block;">
						
							<div class="row">
								<div class="container col-lg-6">
								<ul class ="index">

									<%images.forEach(function(image, index){%>

											<li><%=index+1 %><br><img src="<%=image.link%>"></li>
									<%})%>

								</ul>
								</div>
								
									
							</div>
						
					</div>
					<div class="form-group container d-block">
						<label for="image">Upload Image (will be added at the end of the queue)</label>
						<input type="file" class="form-control" id="image"
							name="image" value="" required><br>
						<button style="display: block !important;" type="submit">Submit</button>

					</div>
				</form>
			</div>
			<br><br>
		<h1 class="ack display-1">Change Site Images</h1><br><br>
		<% images.forEach(function(image, index) { %>
			
		<% }) %>
		<hr>
	</div>

	<%- include("../footer.ejs") %>
	<%- include("adminControls.ejs") %>
</body>
</html>