<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin | TecSo Foundation</title>
	<%- include("dynamicCommons.ejs") %>
	<style type="text/css">
		img{
			height: 40px;
			width: 40px;
		}
	</style>
</head>

<body>
	<%- include("header.ejs") %>
	<div class="page-content">
	<div class="row">
		<div class="container col-lg-6 col-sm-12">
			<h1>To Upload Image on mongoDB</h1>
	<hr>
	<div>
		<form action="/test" method="POST" enctype="multipart/form-data">
			<div>
				<label for="name">Image Title</label>
				<input type="text" id="name" placeholder="Name"
					value="" name="name" required>
			</div>
			<div>
				<label for="desc">Image Description</label>
				<textarea id="desc" name="desc" value="" rows="2"
						placeholder="Description" required>
				</textarea>
			</div>
			<div>
				<label for="image">Upload Image</label>
				<input type="file" id="image"
					name="image" value="" required>
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>

	<hr>

	<h1>Uploaded Images</h1>
	<div>
		<% images.forEach(function(image) { %>
		<div>
			<div>
				<img src="data:image/<%=image.img.contentType%>;base64,
					<%=image.img.data.toString('base64')%>">
				<div>
					<h5><%= image.name %></h5>
					


<p><%= image.desc %></p>



				</div>
			</div>
		</div>
		<% }) %>
		<hr>
	</div>
	<div class="container">
		<h1 class="display-1">Queries</h1>
		<% queries.forEach(function(query){ %>
			<h1 class="display-4"><%= query.title %></h1>
			<p><%= query.message %></p><br>
			<b>Name: <%= query.name %><br>
			<b>Email:<a href="" class="email"> <%= query.email %></a><br>
			<b>Date:</b> <%= query.date %><hr>
			
	<% }) %>
	</div>
		</div>
	</div>
	</div>

<%- include("footer.ejs") %>

</body>

</html>
