<!DOCTYPE html>
<html>
<head>
	<title><%=event.name%> | TecSo Foundation</title>
	<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=61dd50d34c0de5001236c556&product=sticky-share-buttons' async='async'></script>
	<%- include("dynamicCommons.ejs") %>
	<style type="text/css">
		.paragraph-image>img{
			height: 100px;
			width: 100px;
			object-fit: cover;
			object-position: center;
		}
		.display-1{
			font-size:2em !important;
		}
	
		.volunteer-image>img{
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: top;

			border-radius: 30px;
			
		}
		.volunteer-card{
			padding: 20px;
			border-radius: 30px;
			background-color: rgba(225,225,225,0.5);
		}
		@media(max-width: 600px){
			.volunteer-card{
				padding: 10px;
				margin-bottom: 30px;
				margin-left: 10px;
				margin-right: 10px;
				height: 80%;
				width: 80%;

			}
		}
	.page-text{
		padding-left: 10%;
	}	
	.display-1{
		text-align: center;
	}

	</style>
	

</head>
<body>
	<%if(error){%>
	<div id="error"><%=error%></div>
	<%}%>
<div class="sharethis-sticky-share-buttons" style=""></div>

	<%- include("header.ejs") %>

		<div class="page-content">
			<h1 class="display-1"><%=event.name%></h1>
			<div class="container"><p class="event-date"><%=event.date%></p>
			<hr></div>
			<div class="row">
				<div class="event-img-container container col-sm-12 col-md-10 col-lg-3 order-2 ">
					<%event.content.img.forEach(function(image){ %>
						<div class="paragraph-image">
							<img src="<%=image.link%>">
						</div><br>
					<%}) %>
				</div>
				<div class="container col-lg-9 col-md-10 col-sm-12 order-1">
					<div class="page-text">
						<% event.content.paragraphs.forEach(function(paragraph){ %>
							<p><%-paragraph%></p>
						<%}) %>

					</div>
				</div>
			</div>
			<br>
			<hr>
			<h1 class="display-1">The Team</h1>
			<div class="row">
				<%event.volunteers.forEach(function(volunteer){%>
					<div class="container col-lg-2 col-md-3 col-sm-4">
						<div class="volunteer-card">
							<center><div class="volunteer-image">
								<img src="<%=volunteer.profilePic.link%>">
							</div>
							<div>
								<p><%=volunteer.name%></p>
							
								<p>(<%=volunteer.role%>)</p>
								<p><a href="/volunteer/<%=String(volunteer.id)%>">Other Contributions</a></p>
							</div></center>

							
						</div>
					</div>
				<%})%>
			</div><hr>
			<center><h5 class="fade">We are grateful to the monetary contributors to the event</h5></center>
			<div class="row">
				<%event.donations.forEach(function(donation){%>
					<div class="container col-lg-3 col-md-4 col-sm-6">
						<div class="donation-card">
							<P class="fade"><%=donation.name%></P>
							
						</div>
					</div>
					<%}) %>
			</div>	
			
		</div>
	<%- include("footer.ejs") %>
	<script type="text/javascript">
		$(".event-date").text(formatDate(new Date("<%=event.date%>")))
	</script>
</body>
</html>