<!DOCTYPE html>
<html>
<head>
	<title><%=event.name%> | TecSo Foundation</title>
	<%- include("dynamicCommons.ejs") %>
	<style type="text/css">
		img{
			height: 300px;
			width: 300px;
		}
	</style>
	

</head>
<body>
	<%- include("header.ejs") %>

		<div class="page-content">
			<h1 class="ack display-1"><%=event.name%></h1>
			<div class="container"><p><%=event.date%></p>
			<hr></div>
			<div class="row">
				<div class="container col-sm-12 col-md-10 col-lg-9 order-2">
					<%event.content.img.forEach(function(image){ %>
						<img src="data:<%=image.contentType%>;base64,<%=image.data.toString('base64')%>">
					<%}) %>
				</div>
				<div class="container col-lg-9 col-md-10 col-sm-12 order-1">
					<div class="page-text"></div>
				</div>
			</div>
			<div class="container">
				<%volunteers.forEach(function(volunteer){%>
					<div class="container">
						<img src="data:<%=volunteer.profilePic.contentType%>;base64,<%=volunteer.profilePic.data.toString('base64')%>">
					</div>
				<%})%>
			</div>	
			
		</div>
<script type="text/javascript">
		<% event.content.paragraphs.forEach(function(paragraph){ %>
			var para = $.parseHTML("<p><%=paragraph%></p>")
			$(".page-text").append(para);
		<%}) %>
		console.log("<%=volunteers%>")
	</script>
	<%- include("footer.ejs") %>

</body>
</html>