<!DOCTYPE html>
<html>
<head>
	<title><%=tag%> - Events | TecSo Global Foundation</title>
	<%-include("dynamicCommons.ejs")%>
	<style type="text/css">
		#category{
			background-color: <%=tagColour%>;
		}
	</style>
</head>
<body>
	<script type="text/javascript">console.log("<%=tagColour%>")</script>
	<%-include("header.ejs")%>
	<div class="page-content">
		<h1 class="display-1 ack"><%=tag%></h1>
		<div class="row">
			<%events.forEach((event)=>{%>
				<div class="container events col-lg-4 col-md-6 col-sm-12">
				<div class="column" style=""><br>
				<div class="post-module">
				<div class="thumbnail">
				<div class="date" style="background-color: <%=colours[event.tag]%>;">
				<small class="date-<%=event._id%>" style="color: white"><%=event.date%></small>
				<script type="text/javascript">
				$(".date-<%=event._id%>").text(formatDate(new Date("<%=event.date%>")))

				</script>
				</div>
				<img src="<%=event.content.img[0].link%>"/>
				</div>
				<div class="post-content">
				<div class="category"  style="background-color: <%=colours[event.tag]%>;"><a href="/events/<%=event.tag%>" style="color: white" class="btn"><%=event.tag%></a></div><br>
				<h1 class="title"><a href="/event/<%=event.id%>"><%=event.name%></a></h1><br>
				<h2 class="sub_title"><%=event.content.subtitle%></h2>
				<p class="description"><span><%=event.content.paragraphs[0].substring(0, 120)%>...</span><br><br>   
				<a href="/event/<%=event.id%>" class="btn btn-outline-info">Read More</a></p>
				</div>
				</div>
				</div>
				<hr style="width: 250px; border: 2px solid <%=colours[event.tag]%>; border-radius: 30%;">
				</div>
			<%})%>
		</div>
	</div>
	<%-include("footer.ejs")%>
	<script type="text/javascript">
$(window).load(function() {
  $('.post-module').hover(function() {
    $(this).find('.description').stop().animate({
      height: "toggle",
      opacity: "toggle"
    }, 300);
  });
});
    </script>
</body>
</html>