<% volunteers.forEach(function(volunteer){ %>
	<div>
		<p><b>Name: <%= volunteer.name %></b></p>
		<p><b>Description: <%= volunteer.description %>
		<p><b>Role: <%= volunteer.role %>
		<p><b>Date of Joining: <%= volunteer.date %>
		<p><a class="btn btn-outline btn-warning" href="/admin/dashboard/volunteers/<%= volunteer.id %>/edit">Edit</a></p>
	</div>

<% }) %>
